body{
    background-color: grey;
    text-align: center;
    
}


/* .form-control{
    width: 600px;
    align-items: center;
   justify-content: center;
   margin-left: 400px;
   text-align: center;
} */
.form-label{
    font: 1.1em sans-serif;
    color: whitesmoke;
}
.mb-3{
    margin-top: 30px;
}
#my{
   
    justify-content: center;
}
/* .eme{
    color:white !important;
    margin-bottom:10px;
} */
form{
    text-align:center;
}
.main{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
    padding: 35px;
    width:40%;
    background: rgba(225, 225, 225, 0.2);
    box-shadow: rgb(0, 0, 0,0.5);
    border-radius: 10px;
}
h1{
    margin-top: 20px;
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Playfair Display', serif;
    
}
.main img{
    height:110px;
    width:250px;
    border-radius: 10px;
    text-align: center !important;
    display: block !important;
    margin: auto !important;
}
body{
    /* background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1x-gdHenXgND6YniEsEDkHSukAEDh9GQ1Xw&usqp=CAU"); */
    background:url("https://t4.ftcdn.net/jpg/05/31/90/39/360_F_531903973_rJKgVd3oN2sY02AXuL5LtrCI1y9h8UCn.jpg");
    background-position: center;
    background-size: cover !important;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1200px) {
    .main{
        padding: 15px;
        width:100%;
       
    }
    body{
        background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1x-gdHenXgND6YniEsEDkHSukAEDh9GQ1Xw&usqp=CAU");
    }
    .main img{
        text-align:center !important;
        height:80px;
        width:170px;
    }
  }
  @media only screen and (max-width: 426px){
    .main{
        font-size: 13px;
        padding: 15px;
        width:100%;
        text-align:left;
    }
    .main h1{
        text-align:center !important;
    }
    .main img{
        text-align:center !important;
    }
  }

input{
    word-break: break-word;
}
button{
    margin-top: 30px;
    text-align: center;
}