{% extends 'base.html' %}
 {% block content %}
 

 <img src="https://i.imgur.com/Kna9Nb2.png">
 <h1>Contest</h1>

 <form method="POST" action="https://sheetdb.io/api/v1/t40wj6o8yr3ds" id="sheetdb-form">
  <!-- action="{% url 'come'%}"              id="sheetdb-form" -->
    {% csrf_token %}
    <div class="mb-3">
        <label  class="form-label">Name</label>
        <input  type="text" class="form-control"   name="data[name]" value="{{ name }}">
        
      </div>
      <div class="mb-3">
        <label  class="form-label">Branch</label>
        <input  class="form-control"  name="data[branch]" value="{{ branch }}">
        
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="data[email]" value="{{ email }}">
       
      </div>
    <div class="mb-3">
      <label  class="form-label">Roll no.</label>
      <input class="form-control"  name="data[roll]" value="{{ roll }}">
     
    </div>
    <div class="mb-3">
        <label  class="form-label">Phone no.</label>
        <div id="my"><input class="form-control"  name="data[phone]" value="{{ phone }}"></div>
       
      </div>
      <div class="mb-3">
        <label  class="form-label">Drive Link</label>
        <input class="form-control"  name="data[subit]" value="{{ subit }}">
       
      </div>
    
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 {% endblock %}


